header, section, footer, aside, nav, article, figure {
    display: block;
}

body {
    background: #46433A;
}

a {
    color: #29B5B9;
}

ul {
    font-family: times;
    font-size: 20px;
    color: #46433A;
    list-style: square url("../img/pymarker.png");
}


li {
    margin-bottom:20px;
    margin-right: 40px;
}

nav {
    padding-bottom: 15px;
    padding-top: 15px;
    font-size:  0px;
}

header {
    color: #46433A;
    /*text-shadow: 2px 2px 1px #AAA;*/
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: bold;
    font-size:  60px;
    padding-left: 40px;
    padding-top: 30px;
}

.container {
    background: #ebe5d5;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 10px 0px 10px #222;
}


.tagline {
    padding-right: 20px;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 20px;
    color: #29B5B9;
    text-shadow: 1px 1px 1px #DDD;
    margin: 0px;
}


.social_link {
   padding: 10px;
}


.timeline {
    background: #f1ece1;
    text-align: center;
    box-shadow: 1px 1px 10px #222;
    margin-bottom: 40px;
}

.skills {
    font-family: times;
    font-size: 20px;
    color: #808080;
    padding-bottom: 40px;
    padding-right: 10px;
    padding-left: 20px;
}

.skill {
    display: inline;
    font-family: Helvetica;
    font-weight: bold;
    font-size:  17px;
}
